#contenedor {
	
}

#header {
    float: center;
    width: 100%;

}

#nav_menu {
	background: white;
  	float: left;
  	width: 100%;
    height: 50px;
}

#Principal {	
	
	background: white;
  	float: left;
  	width: 100%;
    height: 65%;
    
}
#Principal #principal {
    
	background: white;  
  float: left;
  width: 90%;
  height: 100%;
}

#Principal #secundario {
color: white;
float: left;
width: 10%;
height: 100%;
}


 
#nav_menu .navbar-nav {
background: white;
color: white;
    
}

h1{
    text-align: center;
}

#texto_plano{
    color:black;
}

#ip_server{

}

